* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans";
  font-size: smaller;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position:
    bottom 40vh right 48vw,
    top 50vh left 48vw;
}

.card {
  background: white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  position: relative;
  max-width: 360px;
  min-width: 360px;
}

.card-header {
  background: url("../images/bg-pattern-card.svg");
  border-radius: 1.5rem 1.5rem 0 0;
  height: 150px;
}

.card-image {
  border: 1px solid #fff;
  border-radius: 100%;
  position: static;
  transform: translate(150px, 105px);
  width: 5.25rem;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.age {
  font-weight: lighter;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 10px;
  text-align: center;
  border-top: 1px solid #bbbbbb;
  width: 100%;
}

.label {
  font-weight: lighter;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
