* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/******************TAG SELECTORS*********/
body {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
  background-position: left 45vw top 55vh, right 55vw bottom 30vh;
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

/*hr {
  border-style: solid none none none;
  color: #EAF6F6;
  width: 60%;
}*/

p {
  font-weight: bold;
  width: 10%;
}


/********CLASS SELECTORS ********/

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  height: 37rem;
  width: 33rem;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  left: 50%;
}

.top-banner {
  box-sizing: border-box;
  width: 100%;
}

.age {
  font-weight: 100;
}

.city {
  font-weight: 400;
}

.info {
  background-color: white;
  text-align: center;
  width: 80%;
}

.info .name, .info .city {
  width: 100%;
}

.stats {
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.stats-label {
  font-size: 11px;
  font-weight: 100;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
